body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0;
}

#container{
min-height: auto;
width: 33%;
margin: auto;
border-width: 3px 10px 12px 0; /* establece el ancho del borde */
border-style: solid;/* establece el estilo del borde*/
border-color: #b1aeae; /* esteblece el color del borde*/
background: radial-gradient( at right top, #2A6173, #AEC3CD);
position: relative;

}
#encabezado{   
color: white;
padding: 7% 0% 10% 45%;
}

#encabezado h1{
    font-size: 0.9em;
    margin: 2px;
}

#encabezado h2{
    font-size: 0.9em;
    margin: 2px;
    font-weight: lighter;
}


#contenido{
    height: 73vh;
    background-color: white;
    padding-left: 45%;
    padding-top: 5%;
    border-radius: 0 0 50px 0;

}

#columna{
    position: absolute;
    top: 0px;
    left: 1%;
    background-color: #283D3D;
    width: 42%;
    height: 96%;
    padding: 5% 1% 1% 1%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.columna-contenido{
    margin-top: 1rem;
    font-size: 0.8em;
}
.title-columna-contenido{
    padding: 5px;
    color: #ffffff;
    background-color: #398ca7;
    border-radius: 5px;
    margin: 20px 0px;
    font-size: 0.8em;
    font-weight: bold;
}



.circulo{
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient( at right top, #a1e7f87c, #31d4fd2a);
    border-radius: 50%;
    
}

#c-1{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    top: 1%;
    left: 7%;  
    z-index: 1;


}

#c-2{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    top: 16%;
    left: 36%;
    z-index: 1;
}

#c-3{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    bottom: 12%;
    right: 1%;
}

#c-4{
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    bottom: 2%;
    right: 6%;
}


#columna>img{
    height: 20%;
    width: 90%;
    margin-left: 5%;
    border-radius: 50%;
    z-index: 10;
    position: relative; 
}

.titulo-caja{
    background: radial-gradient( at right top, #398ca7, #95aeba);
    color: #ffffff;
    font-size: 0.8em;
    padding: 4px;
    border-radius: 20px;
}
.caja-contenido{
  padding: 5px;
}
.caja-contenido>h4{
    margin: 5px;
    font-size: .8em;
    font-weight: bold;
}
.caja-contenido>p{
    font-size: 0.7em;
    margin: 5px;
}

.col-line{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;

}

.item-icon{
    width: 15px;
    height: 6px;
    background-color: #a9abac;
}

.icon{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.text{
    width: 50%;
}

.idiomas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.claro{
    background: #ebe7e7;
    
}
.medio{
    background: #b63232;
}
.oscuro{
    background: #40abab;
}


.Habilidades{
    display: flex;
    justify-content: space-between;
    align-items: center;   

}
.contact .col-line .icon{
    width: 20%;
}
.contact .col-line .text{
    width: 80%;
}

.icon-svg{
        margin-left: 10px;
        display: flex ;
        justify-content: flex-start;
        gap: 20px;
}

@media (max-width:830px){
    #columna{
        position: relative;
        top: 0px;
        left: 1%;
        background-color: #283D3D;
        width: 90%;
        height: 96%;
        padding: 5% 1% 1% 1%;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
    }

    #contenido{
        height: 73vh;
        background-color: white;
        padding-left: 0%;
        padding-top: 5%;
        border-radius: 0 0 50px 0;
    }

    #encabezado{   
        color: white;
        padding: 7% 0% 10% 0%;
    }

    #c-1{
        width: 30px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        top: 1%;
        left: 80%;  
        z-index: 1;}

        #c-2{
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            top: 44%;
            left: 64%;
            z-index: 1;}

            #c-4{
                width: 30px;
                height: 30px;
                background-color: #ffffff;
                bottom: 2%;
                right: 6%;}
        
                .title-columna-contenido{
                    padding: 5px;
                    color: #ffffff;
                    background-color: #00f03470;
                    border-radius: 5px;
                    margin: 20px 0px;
                    font-size: 0.8em;
                    font-weight: bold;
                }
}
